.clearmargin {
  margin: 0px;
}

.clearpadding {
  padding: 0px;
}

.row-image-txt {
  background-color: rgb(42,42,42);
}

.row-image-txt h1 {
  color: white;
}

.row-image-txt p {
  color: white;
}

p {
}

p {
}

p {
}

h1 {
  font-size: 25px;
  padding-bottom: 5px;
}

.para {
}

.ber {
  padding-top: 20px;
  padding-bottom: 20px;
}

span {
}

.cxz {
  background-color: #ffffff;
}

